<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKey</key>
	<string>FE6FBDD5-4DAF-4E97-BB40-D8584A1971A8</string>
	<key>AppId</key>
	<string>D247E555-6A8E-343A-FFEB-7DDC74647200</string>
</dict>
</plist>
